.TransferBox{
    width: 100%;
    max-width: 412px;
    min-height: 90vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.TransferForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
}



https://testnet.tonapi.io/v2/events/tRDsnECp1XLXx9onDw%mRz%2F4OYqNoEM3wXFyb8oCZNQ%3D
https://testnet.tonapi.io/v2/events/tRDsnECp1XLXx9onDw%2BmRz%2F4OYqNoEM3wXFyb8oCZNQ%3D
